/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}








































body{
  background-color: #000000;
}

a{
  color: #ffffff;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p{
  color: #ffffff;
}

.pusu-up{
  font-size: 24px;
}

.head-nav{
  width: 100%;
  height: 50px;
}

.head-nav li{
  float: left;
  width: calc(100% / 7);
  text-align: center;
  box-sizing: border-box;
	color: #ffed00;
	font-family: serif;
}

.head-nav li a:hover{
	color: #ffed00;
	border-bottom: 3px solid #508a31;
}

.nav-logo{
  float: left;
  width: calc(100% / 7);
	text-align: center;
	display: block;
}

.main-bnr{
  width: 100%;
  height: 100%;
}

.kiji h2{
  font-size: 32px;
  border-bottom: 3px solid #ffed00;
  padding: 24px 24px 24px 24px;
  margin-bottom: 18px;
	font-family: serif;
}

.news-kiji{
  width: 50%;
  height: 220px;
  float: left;
  padding: 0 18px;
  box-sizing: border-box;
}

.kiji img{
  margin: 18px 0;
}

.news-link{
  float: right;
}

.live-kiji{
  padding: 0 18px;
  box-sizing: border-box;
}

.live-kiji p{
    margin-bottom: 16px;
}

.date{
  color: #af2f2f;
  margin-bottom: 16px;
}

.btn a{
  width: 100%;
  display: block;
  background-color: #508a31;
  border-radius: 5px;
  text-align: center;
  padding: 25px 0;
}

.btn a:hover{
  background-color: #2f531d;
}

.pf-name{
  margin-bottom: 10px;
}

.link{
  border-bottom: 3px solid #508a31;
  padding-bottom: 5px;
}

.link:hover{
  border-bottom: 3px solid #2f531d;
}

.profile-text{
  margin-left: 18px;
}

.profile-text p{
  float: left;
  padding: 5px 0;
  margin-right: 8px;
}

.pf-tw{
  display: block;
  background-color: #508a31;
  border-radius: 5px;
  text-align: center;
  float: left;
  padding: 5px 5px;
}

.pf-tw:hover{
  background-color: #2f531d;
}

.Disc-kiji{
  width: 50%;
  float: left;
  padding: 0 18px;
  box-sizing: border-box;
}

.Disc-kiji img{
  margin: 18px 0;
  width: 100px;
  height: 100px;
}

/*  MUSIC.html*/

.music-title{
  font-size: 24px;
  margin: 15px 0;
}

.btn-top a{
  text-align: right;
  width: 200;
  display: block;
  background-color: #508a31;
  border-radius: 5px;
  text-align: center;
  padding: 25px 0;
  font-size: 32px;
}

.btn-top a:hover{
  background-color: #2f531d;
}





@media (max-width: 1069px) {
	.head-nav li{
		padding: 20px 0 20px 0;
		font-size: 12px;
	}

	.nav-logo img{
		width: 50px;
		height: 50px;
	}

  .kiji img{
    width: 100px;
    height: 100px;
  }

  .news-link{
    font-size: 18px;
  }

  .music-yt{
    width: 100%;
    height: 100%;
  }


}

@media (min-width: 1070px){
	.wrap{
		width: 1050px;
		margin: auto;
	}

	.head-nav li{
		padding: 40px 0 40px 0;
		font-size: 24px;
	}

	.nav-logo img{
		width: 100px;
		height: 100px;
	}

	.live-kiji{
		width: 50%;
	}

  .kiji img{
    width: 150px;
    height: 150px;
  }

  .news-link{
    font-size: 20px;
  }

  .music-yt{
    float: left;
    width: 50%;
    height: 100%;
  }

}
